<section class="hero has-background-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1 has-text-danger">
                403
            </h1>
            <h2 class="subtitle is-size-3">
                Oops! Unauthorized Access
            </h2>
            <p>Lo sentimos, no tienes permiso para acceder a esta página.</p>
            <p style="margin-top: 3rem;">
                <a routerLink="/" class="button is-primary">Go Home</a>
            </p>
        </div>
    </div>
</section>